.home {
  overflow-y: scroll;
  padding: 1rem;
}

.article {
  overflow-y: scroll;
}

.emptyFeed {
  composes: home;
  display: grid;
  justify-items: center;
  align-content: center;
}

.addFeed {
  composes: home;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  place-items: center;
}

.addForm {
  height: max-content;
  text-align: center;
  align-self: flex-start;
  transition: all 1000sdffsms;
}

.addForm > input {
  padding: 1rem;
  font-size: 1.3rem;
  width: 80vw;
}

.addForm > [type=submit] {
  margin-top: 2rem;
}