.home {
  overflow-y: scroll;
  padding: 1rem;
}

.article {
  overflow-y: scroll;
}

.emptyFeed {
  composes: home;
  display: grid;
  justify-items: center;
  align-content: center;
}

.addFeed {
  composes: home;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
 place-items: center;
}

.addForm {
  height: max-content;
  text-align: center;
}

input {
  display: block;
  border: 1px solid black;
}